metallb:
  configInline:
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - 192.168.129.2/32 # Ingress
      - 192.168.129.3/32 # Cockroach Dev
      - 192.168.129.4/32 # Cockroach Prod
      - 192.168.129.5/32 # Unifi Controller
      - 192.168.129.6/32 # Plex
      - 192.168.129.7/32 # Tdarr Server