keycloak:
  extraEnv: |
    - name: KEYCLOAK_LOGLEVEL
      value: DEBUG
    - name: PROXY_ADDRESS_FORWARDING
      value: "true"
  extraEnvFrom: |
    - secretRef:
        name: keycloak-auth-secret

  clusterDomain: k8s.frontenac.tech

  ingress:
    enabled: true
    annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        cf.containeroo.ch/content: sso.frontenac.tech
        cf.containeroo.ch/type: CNAME
    rules:
      - host: sso.frontenac.tech
        paths:
          - path: /auth/realms/master/protocol/openid-connect/auth
            pathType: Prefix
    tls:
    - hosts:
      - sso.frontenac.tech
      secretName: sso.frontenac.tech
    console:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/whitelist-source-range: "192.168.0.0/16"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
      rules:
        - host: 'sso.frontenac.tech'
          paths:
            - path: /
              pathType: Prefix
      tls:
      - hosts:
        - sso.frontenac.tech
        secretName: sso.frontenac.tech

  args:
    - -Dkeycloak.profile.feature.docker=enabled

  postgresql:
    enabled: true
    architecture: standalone
    auth:
      existingSecret: postgres-secret
    persistence:
      storageClass: longhorn
      size: 20Gi

  # Custom Theme
  extraInitContainers: |
    - name: pull-custom-theme
      image: alpine/git:v2.34.2
      imagePullPolicy: IfNotPresent
      args:
        - clone
        - https://github.com/Frontenac-Technology-Services/keycloak-fts-theme.git
        - /theme/
      volumeMounts:
        - name: fts-theme
          mountPath: /theme

  extraVolumeMounts: |
    - name: fts-theme
      mountPath: /opt/jboss/keycloak/themes/fts-theme

  extraVolumes: |
    - name: fts-theme
      emptyDir: {}