# Create ArgoCD bootstrap application (App of Apps)
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  
spec:
  project: kubernetes
  source:
    repoURL: git@github.com:Frontenac-Technology-Services/configurations.git
    targetRevision: master
    path: configs/kubernetes/cert-manager
    # Deploy application using helm
    helm:
      releaseName: cert-manager
  destination:
    name: in-cluster
    namespace: cert-manager
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true