apiVersion: crdb.cockroachlabs.com/v1alpha1
kind: CrdbCluster
metadata:
  name: cockroachdb
spec:
  sqlPort: 5432
  dataStore:
    pvc:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "60Gi"
        volumeMode: Filesystem
        storageClassName: longhorn
  resources:
    requests:
      cpu: 500m
      memory: 2Gi
    limits:
      cpu: "2"
      memory: 8Gi
  tlsEnabled: true
  image:
    name: cockroachdb/cockroach:v21.2.8
  nodes: 3
  additionalLabels:
    crdb: is-cool
  ingress:
    ui:
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/cluster-issuer: letsencrypt-dev
        nginx.ingress.kubernetes.io/whitelist-source-range: "192.168.0.0/16"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
      host: cockroachdb-ui.k8s.frontenac.dev
    sql:
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/cluster-issuer: letsencrypt-dev
        nginx.ingress.kubernetes.io/whitelist-source-range: "192.168.0.0/16"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
      host: cockroachdb-sql.k8s.frontenac.dev