seafile:

  image: 
    repository: docker.seadrive.org/seafileltd/seafile-pro-mc
    tag: 9.0.5

  imagePullSecrets:
    - name: image-pull-secret

  env:
    SEAFILE_ADMIN_EMAIL: admin@frontenac.tech
    SEAFILE_SERVER_HOSTNAME: seafile.frontenac.tech
    SEAFILE_ADMIN_PASSWORD:
      valueFrom:
       secretKeyRef:
         name: seafile-sealed-secret
         key: SEAFILE_ADMIN_PASSWORD
    DB_ROOT_PASSWD:
      valueFrom:
       secretKeyRef:
         name: seafile-sealed-secret
         key: DB_ROOT_PASSWD

  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/proxy-body-size: 1024m
        cf.containeroo.ch/content: frontenac.tech
        cf.containeroo.ch/type: CNAME
      hosts:
        - host: seafile.frontenac.tech
          paths:
          - path: /
            pathType: Prefix
      tls:
      - secretName: seafile.frontenac.tech
        hosts:
        - seafile.frontenac.tech
    sso:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/ssl-redirect: "true" 
        nginx.ingress.kubernetes.io/permanent-redirect: "https://seafile.frontenac.tech/sso/?next=/"  
      hosts:
        - host: seafile.frontenac.tech
          paths:
          - path: /accounts/login/
            pathType: Prefix
      tls:
      - secretName: seafile.frontenac.tech
        hosts:
        - seafile.frontenac.tech

  persistence:
    shared:
      enabled: true
      type: pvc
      storageClass: nfs
      accessMode: ReadWriteMany
      size: 8Ti

  mariadb:
    enabled: true
    architecture: standalone
    auth:
      database: seafile
      username: seafile
      existingSecret: seafile-sealed-secret
    primary:
      persistence:
        enabled: true
        storageClass: longhorn
        size: 25Gi

memcached: {}
